/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--inter), Serif;
  font-variation-settings: "wght" var(--regular);
  color: var(--font-color);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 100px;

  background-image: repeating-linear-gradient(to right, var(--bg-line-color) 0 2px, #ffffff00 2px 4px),
  repeating-linear-gradient(to bottom, var(--bg-line-color) 0 2px, #ffffff00 2px 4px),
  var(--bg-gradient);

  background-color: var(--page-color);
  background-attachment: fixed;
  background-size: cover;

}

@supports (font-variation-settings: normal) {
  .page {
    font-family: "Inter-Variable", serif;
  }
}

.header {
  background-color: var(--page-color);
  border: 2px solid var(--font-color);
  max-width: clamp(375px, 100%, 700px);
  width: 100%;
  height: 368px;
  margin-block-end: 100px;
  font-family: var(--pressStart), serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}

.logo {
  font-size: clamp(49px, 1.9087rem + 4.9231vw, 65px);
  line-height: 100%;
  font-family: var(--pressStart), serif;
  text-transform: uppercase;
  user-select: none;
}

.title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: 100%;
  margin-block-start: 20px;
  margin-block-end: 25px;
}

.theme-menu__item {
  margin-block-end: 7px;
  cursor: pointer;
}

.theme-menu__item:last-child {
  margin-block-end: 0;
}

.theme-menu__button {
  background: none;
  border: none;
  position: relative;
  margin-inline-start: 15px;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  transition: color 0.6s;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--font-color);
  transition: width 0.6s, opacity 0.6s;
}

.theme-menu__button:focus {
  opacity: 60%;
  outline: none;
}

.theme-menu__button:focus-visible::after {
  outline: none;
  width: 100%;
}

.theme-menu__button:hover {
  opacity: 60%;
}

.main {
  display: grid;
  justify-items: center;
  gap: 50px;
  max-width: clamp(375px, 100%, 700px);
}

.post {
  background-color: var(--page-color);
  border: 2px solid var(--font-color);
}

.post__title {
  font-size: 18px;
  line-height: 122%;
  font-variation-settings: "wght" var(--bold);
  margin: 5px 10px;
}

.post__cover {
  position: relative;
  border-top: 2px solid var(--font-color);
  border-bottom: 2px solid var(--font-color);
}

.image {
  max-width: 100%;
  display: block;
}

.watermark {
  position: absolute;
  font-size: 14px;
  right: 26px;
  top: 27px;
  background-blend-mode: hard-light;
  opacity: 0.5;
}

.watermark {
  text-shadow: -1px 0 var(--page-color),
  0 1px var(--page-color),
  1px 0 var(--page-color),
  0 -1px var(--page-color);
}

@supports ((text-stroke: 1px var(--page-color)) or (-webkit-text-stroke: 1px var(--page-color))) {
  .watermark {
    -webkit-text-stroke: 1px var(--page-color);
    text-stroke: 1px var(--page-color);
    text-shadow: none;
  }
}

.post__content {
  margin: 23px 25px;
  display: grid;
  gap: 24px;
}

.post__buttons {
  margin: 26px 25px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--font-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__like-button {
  width: 130px;
  padding: 11px 17px;
}

.animation-button {
  position: relative;
  border: 2px solid var(--font-color);
  transition: box-shadow ease-in-out 0.5s;
  overflow: hidden;
}

.animation-button:focus {
  outline: none;
}

.animation-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--font-color);
}

.button__text {
  font-family: var(--pressStart), solid;
}

.sparks {
  opacity: 0;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  outline: none;
  border: 2px solid var(--font-color);
}

.saturate {
  filter: saturate(400%);
}

.invert {
  filter: invert();
  opacity: 70%;
}

.blur {
  filter: blur(0.6rem);
}

.sepia {
  filter: sepia(100%);
}

.floppy-btn {
  border: 2px solid var(--font-color);
  background-color: var(--page-color);
  padding: 15px 20px;
}

.floppy {
  max-width: 21px;
  margin-inline-end: 8px;
}