/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --inter: Inter-Variable;
  --pressStart: PressStart2P-Regular;

  --regular: 400;
  --bold: 700;

  --font-color: #000000;
  --page-color: #ffffff;
  --accent-color: #FF0000;
  --bg-line-color: #d3d3d3;
  --btn-hover-color: var(--page-color);
  --heart-color-contour: var(--font-color);

  --bg-gradient: linear-gradient(180deg, #E7E7E7 0.01%, #1A1A1A 100%);

}